footer
  .container.text-center
    p.float-left © 2019 Eastrn, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/pkuzmickas/social-flying') GitHub Project
      li.list-inline-item
        a(href='https://github.com/pkuzmickas/social-flying/issues') Issues
