extends layout

block content
  h1 Paulius Kuzmickas (+447968086418)
  hr
  .table-responsive
  table.table.table-hover
    thead.thead-dark
      tr
        th Flight Ref
        th From
        th To
        th Date
        th Departure
        th Arrival
      tbody
      tr
        td FR2885
        td Kaunas
        td Edinburgh
        td Tue, 13 Aug 19
        td 13:15
        td 14:05
      tr
        td FR2885
        td Kaunas
        td Edinburgh
        td Tue, 13 Aug 19
        td 13:15
        td 14:05
      tr
        td FR2885
        td Kaunas
        td Edinburgh
        td Tue, 13 Aug 19
        td 13:15
        td 14:05
      tr
        td FR2885
        td Kaunas
        td Edinburgh
        td Tue, 13 Aug 19
        td 13:15
        td 14:05

