extends layout

block content
  style
    include home.css
  if !user
    h1.pretty-heading
      center Social Flying
    hr
    h5
      center This is the coolest ever hackathon project and lets you fly with your friends. Yay!!!
  else
    h1 Friends
    p.lead Friends who are using the Social flying app
    hr
    .table-responsive
    table.table.table-hover
      thead.thead-dark
        tbody
          each val in users
            tr
              td
                img(src=val.img_url)
              td.list_name
                a(href='/#' + val.id)
                  p #{val.name}