@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

.list_name {
     font-size: 16px;
     vertical-align: inherit !important;
 }

.list_name a {
    color: inherit;
}

.pretty-heading {

    font-size: 120px;
    font-family: Arvo;
    width: 500px;
    margin: 0px auto;
    margin-top: 60px;
}

.pretty-sub-heading {
    font-size: 60px;
    font-family: Arvo;
    width: 500px;
    margin: 0px auto;
}