extends layout

block content
  h1 SkyScanner Results
  p.lead All available prices for your flight!
  hr
  .table-responsive
  table.table.table-hover
    thead.thead-dark
      tr
        th Reference
        th Date
        th Price
        th Link
    tbody
      each l in flight.itins[0].PricingOptions
        tr
          td #{flight.flightRef}
          td #{flight.outboundDate}
          td
           a £#{l.Price}
          td
           a(href=l.DeeplinkUrl) BUY FLIGHT
           